/* Footer Customizations */
.footer .btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    transition: .3s;
}

.footer .btn-social:hover {
    color: rgb(53, 72, 191);
}

.footer .btn-link {
    margin-bottom: 5px;
    padding: 0;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn-link:hover {
    letter-spacing: 1px;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}
