.login {
  color: #ff58b9;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
  margin-top: 1.5em;
  text-align: center;
}

.cardsup {
  display: flex;
  justify-content: center;
  width: 600px;
  min-height: 350px !important;
 
  flex-direction: column;
  padding: 30px;
  gap: 35px;
  border-radius: 15px;
  background: #e3e3e3;
  box-shadow: 16px 16px 32px #c8c8c8,
        -16px -16px 32px #fefefe;
  border-radius: 8px;
  padding: 30px;
}
.select {
  width: 100% ;
}

@media (max-width: 768px) {
  .cardsup {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    max-width:  300px;
    flex-direction: column;
    padding: 30px;
    gap: 35px;
    border-radius: 15px;
    background: #e3e3e3;
    box-shadow: 16px 16px 32px #c8c8c8,
          -16px -16px 32px #fefefe;
    border-radius: 8px;
  }
  .select {
   
    max-width: 300px !important;
  }
} 




.enter {
  height: 45px;
  width: 100px;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  margin-bottom: 3em;
}

.enter:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}